@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

body {
    font-family: caveat, cursive;
    background-color: white;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER AND FOOTER */
header, footer {
    background-image: linear-gradient(to bottom right, white, grey);
    color: black;
    height: 60px;
}
header {
    position: absolute;
    width: 100vw;
    opacity: 0.75;
}
footer > p {
    margin:0;
}
nav, .navContainer {
    height: inherit;
}
.navContainer {
    /* nav is half width of header and centered*/
    width: 50%;
    margin: auto;
    font-size: 20pt;
}

/* nav flexBox */
.navContainer > ul {
    list-style-type: none;
    margin: 0;
    /* padding: top right bottom left */
    padding: 10px 0 10px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
}
.navContainer > ul > li {
    width: 33%;
    height: inherit;
    /* centre align text */
    display: flex;
    align-items: center;
    justify-content: center;
    
}
/* nav links */
.navContainer > ul > li > a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;

}
/* change colour on hover */
.navContainer > ul > li > a:hover {
    color: white;
} 
/* add division lines */
.navContainer > ul > li:first-child {
    border-right: solid 1px black;
}
.navContainer > ul > li:last-child {
    border-left: solid 1px black;
}

/* MAIN */
main {
    background-color: white;
    color:black;
}
#heroContainer {
    width: 100%;
    background: white url(./images/hero.jpg) no-repeat;
    background-size: cover;
    max-height: 100vh;
    /* height is set with JS setHeroHeight() onload */
}
#siteTitle {
    font-size: 70pt;
    text-align: center;
    padding-top: 5%;
}
.mainContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}
.contentContainer {
    width: 45%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.contentContainer > h2 {
    font-size: 30pt;
}
#codewarsContainer{
}
#cssContainer{
    padding: 400px 20px 20px;
}
#cardsSimContainer{

}

/* laptop */
@media only screen and (max-width: 1024px) {
    .navContainer {
        width: 75%;
        margin: auto;
        font-size: 18pt;
    }
    #siteTitle {
        font-size: 50pt;
    }
}
/* Tablet */
@media only screen and (max-width: 768px) {    
    body {
        /* centre */
        max-width: 600px;
        margin:auto;
    }
    header {
        max-width: 600px;
    }
    #siteTitle {
        font-size: 35pt;
        padding-top: 8%;
    }
}
/* Mobile */
@media only screen and (max-width: 600px) {
}