header {
    position: fixed;
    opacity: 0.9;
}
.aside {
    width: 20vw;
    height: 77vh;
    margin-top: 120px;
    border-right: solid 1px black;
    position: fixed;
}
.asideFlexContainer {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    padding-left: 20px;
}
.asideBox {
    height: 25%;
    border-bottom: solid 1px black;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
}
.asideBox > h3,.asideBox > h4,.asideBox > p {
    margin: 0;
    text-align: center;
}
.asideBox > h3 {
    font-size: 11pt;
}
.asideBox > h4 {
    font-size: 9pt;
    padding: 3px;
}
.asideBox > h3 > a {
    text-decoration: none;
    color: black;
}
.asideBox > h3 > a:hover {
    color: darkmagenta;
}
.asideBox > h4 > a {
    text-decoration: none;
    color: black;
}
.asideBox > h4 > a:hover {
    color: darkmagenta;
}
.asideBox > p {
    font-size: 8pt;
}
.asideBox:last-child {border: none;
}
.subpageMainContainer {
    background: lightgrey url("./images/blueGradient.jpg") fixed;
    background-size: cover;
    width: 80vw;
    margin-left: 20vw;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}
.subpagePaddingContainer {
    /* position */
    /* style */
    padding-right: 40px;
}
.subpageContentContainer {
    border-bottom: solid 1px black;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.subpageContent {
    max-width: 700px;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 50px 0;
}
.subpageContent > h1 {
    font-size: 60pt;
    font-family: caveat, cursive;
    margin: 100px 0 0;
}
.subpageContent > h3 {
    font-size: 20pt;
    font-family: caveat, cursive;
    color: grey;
    text-shadow:
      1px 1px 0 white,
      -1px 1px 0 white,
      -1px -1px 0 white,
      1px -1px 0 white;
}
.subpageContent > h2 {
    font-size: 25pt;
    margin-bottom: 0;
}
.subpageContent > h4 {
    align-self: flex-start;
    font-size: 15pt;
    margin-bottom: 0;
}
.subpageContent > p {
    font-size: 11pt;
}
#plantsImg, #executionContext, #bridgingTables {
    width: 500px;
}