header {
    position: fixed;
    opacity: 0.9;
}
.aside {
    width: 20vw;
    height: 77vh;
    margin-top: 120px;
    border-right: solid 1px black;
    position: fixed;
}
.asideFlexContainer {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
    padding-left: 20px;
}
.asideMainHeading {
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px black;
}
.asideBox {
    height: 23%;
    border-bottom: solid 1px black;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
}
.asideBox > h3,.asideBox > h4,.asideBox > p {
    margin: 0;
    text-align: center;
}
.asideBox > h3 {
    font-size: 11pt;
}
.asideBox > h4 {
    font-size: 9pt;
    padding: 3px;
}
.asideBox > p {
    font-size: 8pt;
}
.asideBox > h3 > a,.asideBox > h4 > a {
    /* text-decoration: underline;
    text-decoration-color: rgb(40, 40, 40); */
    border-bottom: solid 1px rgb(40, 40, 40);
}
.asideBox:last-child {border: none;
}
.subpageMainContainer {
    background: lightgrey url("./images/blueGradient.jpg") fixed;
    background-size: cover;
    width: 80vw;
    margin-left: 20vw;
    display: flex;
    justify-content: flex-start;
}
.marginRightContainer {
    width: 95%;
}
.subpageContentContainer {
    border-bottom: solid 1px black;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.subpageContent {
    width: 700px;
    margin: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: 50px 0;
}
.subpageContent > h1 {
    font-size: 60pt;
    font-family: caveat, cursive;
    margin: 100px 0 0;
}
.subpageContent > h3 {
    font-size: 20pt;
    font-family: caveat, cursive;
    color: grey;
    text-shadow:
      1px 1px 0 white,
      -1px 1px 0 white,
      -1px -1px 0 white,
      1px -1px 0 white;
}
.subpageContent > h2 {
    font-size: 25pt;
    margin-bottom: 0;
}
.subpageContent > h4 {
    align-self: flex-start;
    font-size: 15pt;
    margin-bottom: 0;
}
.subpageContent > h5 {
    align-self: flex-start;
    font-size: 11pt;
}
.subpageContent > p {
    font-size: 11pt;
    align-self: flex-start;
}
.subpageContent > img {
    max-width: 600px;
    align-self: center;
}
#activity > img {
    max-width: 600px;
    align-self: flex-start;
}